{% extends "lizard_map/wms.html" %}{% load i18n %}

{% block javascript %}
   {{ block.super }}
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/flot/jquery.flot.symbol.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/underscore.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/backbone.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}deltaportaal/chosen.jquery.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/jquery.tablesorter.js">
    </script>
{% endblock %}

{% block map-javascript %}
    {{ block.super }}
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/blockbox.js">
    </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_blockbox/lizard_blockbox.css"
        type="text/css"
        media="screen, projection" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}deltaportaal/chosen.css"
        type="text/css"
        media="screen, projection" />
  <style type="text/css">
    .ui-dialog .ui-dialog-titlebar { padding: 0.7em 1em; position: relative;  }
  </style>
{% endblock css %}

{% block sidebar %}
    <h2>Rivierselectie</h2>
	<span>Selecteer een rivier:</span>
    <form id="blockbox-river"
	  data-select-river-url="{% url lizard_blockbox_select_river %}">
      <select data-placeholder="Kies een rivier"
	      class="chzn-select"
	      tabindex="2"
	      style="width:250px;">
	    {% for reach in view.reaches %}
          <option value="{{reach.name}}"
                  {% if reach.selected %}SELECTED{% endif %}>
            {{ reach.name }}
          </option>
        {% endfor %}
      </select>
    </form>
	<span>Selecteer een mogelijke strategie DPRD/DPIJ:</span>
	<div>
    <a class="has_popover"
	   id="blockbox-strategy-info"
	   title="Blokkendoos strategiën"
       data-content="
<strong>Mogelijke strategieën DPIJ:</strong></br>
- Winterpeil + 0,20 m (t.o.v. huidig winterpeil IJsselmeer)</br>
- Winterpeil + 0,50 m (t.o.v. huidig winterpeil (IJsselmeer)</br>
</br>
<strong>Mogelijke strategieën DPRD:</strong></br>
- Opt. Huidige strategie (1): Faalkans Maeslantkering factor 10 kleiner</br>
- Gesloten zeezijde (2A): Dam in Nieuwe Waterweg + extra waterberging Grevelingen </br>
- Lek extra ontzien (4A): Minder via Lek, meer via IJssel (+ 400 m3/s extra t.o.v. Referentie DPR 2100) </br>
- Lek extra ontzien (4C): Minder via Lek, meer via Waal (+ 800 m3/s extra t.o.v. Referentie DPR 2100). Beweegbare rivierkeringen in Beneden Merwede, Spui, Kil. Verdubbeling profiel Nieuwe Merwede"
href="#"><i class="icon-info-sign icon-grey"></i></a>

	<form id="blockbox-vertex"
	  data-select-vertex-url="{% url lizard_blockbox_select_vertex %}"
	  data-update-vertex-url="{% url lizard_blockbox_vertex_list %}">
      <select data-placeholder="Kies een hoekpunt"
	      class="chzn-select"
	      tabindex="2"
	      style="width:250px;">
      </select>
    </form>
	</div>
    <h3>Bookmark</h3>
    <p class="muted" />
    Gebruik deze URL om de huidige set maatregelen te bookmarken.
    </p>
    <a class="btn has_popover" data-content="Klik hier om de bookmark URL te genereren. Deze kunt u vervolgens knippen-en-plakken in bijvoorbeeld een e-mail, of u kunt de pagina in uw browser-favorieten zetten." data-original-title="Bookmark" id="generate_shorturl_button" href="#"><i class="icon-share"></i></a>
    <input name="shorturl" type="text" id="shorturl" style="margin-top:10px;width:200px;" />





    <h3>Geselecteerde maatregelen</h3>
    <p class="muted">
	  <a href='#' id="blockbox-deselect-all-measures"
		 data-deselect-url="{% url lizard_blockbox.bookmarked_measures '' %}">
		Deselecteer alle maatregelen</a>
	</p>
	<p class="muted">
      Klik op een maatregel om hem te deselecteren.
    </p>

    <p id="investmentcosts">
      Totale investeringskosten: {{ view.investment_costs }} mln
    </p>
    <ul id="selected-measures-list" class="without-bullets">
      {% for reach in view.measures_per_reach %}
        <h4>{{ reach.name }}</h4>
        {% for measure in reach.measures %}
          <li>
            <a href="#"
               class="sidebar-measure blockbox-toggle-measure padded-sidebar-item"
             data-measure-id="{{ measure.short_name }}"
               data-measure-shortname="{{ measure.short_name }}">
              <span class="measure-km">{{ measure.km_from }}:</span>
              {% firstof measure.name measure.short_name %}
            </a>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
	<!-- <h3>Overzichts Pagina</h3>
    <p class="muted">
      Ga naar de <a href="{% url lizard_blockbox.selected_measures %}">
        overzichtspagina over de geselecteerde maatregelen
      </a> voor meer informatie. Hier kunt u de gekozen set ook bewaren.
    </p> -->
	<h3>Downloads</h3>
    <p class="muted">
      Genereer een <a target="_blank" id="report-pdf" href="{% url lizard_blockbox.generate_report %}">PDF rapportage</a>
        met de geselecteerde maatregelen.
    </p>
    <p>
        <a id="report-pdf" href="{% url lizard_blockbox.generate_report %}"><img src="{{ STATIC_URL }}lizard_blockbox/pdf_icon.png"/></a>
        <a href="{% url lizard_blockbox.generate_csv %}"><img src="{{ STATIC_URL }}lizard_blockbox/csv_icon.png"/></a>
    </p>
{% endblock %}

{% block content %}
  <div id="lizard-blockbox-graph" class="i-have-height"
       data-static-url="{{ STATIC_URL }}">
    {% block lizard-blockbox-graph %}
      <div id="measure_results_graph"></div>
      <!-- measure_results_graph is the actual graph. -->
      <div id="measure_graph"></div>
      <!-- measure_graph is the graph part with the measures. -->
    {% endblock %}
  </div>

  <div id="blockbox-table"
       data-measure-toggle-url="{% url lizard_blockbox_toggle_measure %}"
       data-calculated-measures-url="{% url calculated_measures_json %}">
    <table id="measures-table-top"
	   class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </thead>

      <tbody>
        {% for measure in view.measures %}
          <tr>
	    <td>
	      {% if measure.selected %}
	      <span class="icon-ok"></span>Ja
		  {% else %}
		  <span class="icon-remove"></span>Nee
	      {% endif %}
	    </td>
            <td style="cursor:pointer;">
              <a href="#"
                 class="blockbox-toggle-measure"
                 data-measure-id="{{ measure.short_name }}">
                {{ measure.name }}
              </a>
            </td>
            {% for field in measure.fields %}
              <td>{% firstof field.value "Onbekend" %}</td>
            {% endfor %}
	    <td>
	      {% if measure.pdf_link %}
	        <a href="{{ measure.pdf_link }}">
		  <i class="icon-file"></i>Download
                </a>
	      {% endif %}
	    </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </tfoot>
    </table>
  </div>

  {{ block.super }}

  <div class="modal hide" id="loadingModal">
    <div class="modal-header">
      <h3>Laden...</h3>
    </div>
    <div class="modal-body">
      <p>De rivieren data wordt geladen.</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>


{% endblock %}


{% block orthogonal-actions %}
  <div class="btn-toolbar">
    <div class="btn-group"
         title="Selecteren uit referentiesituatie 2015 of zichtjaren 2050 en 2100 (indien informatie beschikbaar)."
         style="top:5px;"
         data-toggle="buttons-radio"
		 id="year-buttons">
      <a id="year-2015" class="btn" href="#">2015</a>
      <a id="year-2050" class="btn active" href="#">2050</a>
      <a id="year-2100" class="btn" href="#" >2100</a>
    </div>

    <div class="btn-group"
         title="Selecteren uit Deltascenario’s Rust, Druk, Stoom of Warm (indien informatie beschikbaar)."
         style="top:5px;"
         data-toggle="buttons-radio">
      <a id="scenario-rust" class="btn" href="#">Rust</a>
      <a id="scenario-druk" class="btn active" href="#">Druk</a>
      <a id="scenario-stoom" class="btn" href="#">Stoom</a>
      <a id="scenario-warm" class="btn" href="#">Warm</a>
    </div>

  </div>

   <a class="has_popover_north"
      style="position:absolute;left:720px;top:10px;color:black;text-decoration:none;"
      data-content="Voor de Blokkendoos Rivieren zijn Stoom en Warm zijn aan
      elkaar gelijk,<br>
omdat sociaal economische scenario's geen effect hebben op de waterstanden in de rivier.<br>
Stoom en Warm gaan in 2100 uit van:<br>

- Zeespiegelstijging: +0,85 m <br>
- Afvoer Rijn bij Lobith: 18.000 m3/s <br>
- Afvoer Maas bij Borgharen: 4.600 m3/s<br>
"
     rel="popover"
     href="#"
     data-original-title="Deltascenario's">
     <i class="icon-info-sign"></i>
  </a>
{% endblock orthogonal-actions %}
