{% extends "lizard_ui/lizardbase.html" %}
{% load i18n compress %}

{% block map-javascript %}
  {{ block.super }}
<script type="text/javascript">
    var _view_state = {
        range_type: '2_day',                        // string 'year', 'custom', '2_day' etc.
        dt_start: moment.utc().subtract('days', 2), // Moment.js date object
        dt_end: moment.utc()                        // Moment.js date object
    };
    {% with view.view_state as view_state %}
        {% if view_state %}
            _view_state.range_type = "{{ view.view_state.range_type }}";
            _view_state.dt_start = moment.utc("{{ view.view_state.dt_start|date:"c" }}");
            _view_state.dt_end = moment.utc("{{ view.view_state.dt_end|date:"c" }}");
        {% endif %}
    {% endwith %}
</script>
{% endblock map-javascript %}


{% block javascript %}
    {{ block.super }}
    <!-- underscore is used for backbone and NensLayerSwitcher -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}backbone/underscore-min.js"></script>
    <!-- Backbone is used for animations.js -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}backbone/backbone-min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_map/animations.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_ui/OpenLayers.Control.NensLayerSwitcher.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_map/lizard_map.js"></script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/flot/jquery.flot.symbol.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/underscore.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/backbone.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}deltaportaal/chosen.jquery.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/jquery.tablesorter.js">
    </script>
{% endblock %}

{% block bottom-extras %}
  {% compress js %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_blockbox/blockbox.js">
    </script>
  {% endcompress %}
  {# Using compressor to ensure the .js is always refreshed when needed #}
{% endblock bottom-extras %}

{% block css %}
  {{ block.super }}
  <link type="text/css"
        href="{{ STATIC_URL }}lizard_map/lizard_map.css"
        rel="stylesheet"
        media="screen, projection" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_blockbox/lizard_blockbox.css"
        type="text/css"
        media="screen, projection" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}deltaportaal/chosen.css"
        type="text/css"
        media="screen, projection" />
  <style type="text/css">
    .ui-dialog .ui-dialog-titlebar { padding: 0.7em 1em; position: relative;  }
    #measures_legend tr:last-child { display: none; }
  </style>
{% endblock css %}

{% block head-extras %}
  {{ block.super }}
  {% comment "UncompressableFileError" %}
  Don't put this Bootstrap CDN link in block css or you'll end up with this error when Debug=False:
  UncompressableFileError: '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
  isn't accessible via COMPRESS_URL ('/static_media/') and can't be compressed
  {% endcomment %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head-extras %}

{% block sidebar %}
  <h2>Rivierselectie</h2>
  <form id="blockbox-river"
	data-select-river-url="{% url lizard_blockbox_select_river %}">
	<label for="select-river">Selecteer een rivier:</label>
    <select data-placeholder="Kies een rivier"
	    id="select-river"
	    class="chzn-select river"
	    tabindex="2"
	    style="width:250px;">
      {% for reach in view.reaches %}
        <option value="{{reach.name}}"
                {% if reach.selected %}SELECTED{% endif %}>
          {{ reach.name }}
        </option>
      {% endfor %}
    </select>
  </form>
  <div>
    <a class="has_clickover_south"
       id="blockbox-strategy-info"
       title="Strategieën en hoogteopgaves"
       data-content="
De hier genoemde strategieën zijn de kansrijke strategieën zoals die destijds
gebruikt zijn door Deltaprogramma Rijnmond-Drechtsteden en Deltaprogramma
IJsselmeergebied (2013). Voor de nieuw bepaalde hoogteopgave 2025, 2050, 2075
of 2100 kan hier een keuze gemaakt worden tussen de hoogteopgave voor de
waterkeringen op de linker oever (LO) of de rechter oever (RO).
"
href="#"><i class="icon-info-sign icon-grey"></i></a>
    <form id="blockbox-vertex"
	  data-select-vertex-url="{% url lizard_blockbox_select_vertex %}"
	  data-update-vertex-url="{% url lizard_blockbox_vertex_list %}">
      <label for="select-strategy">
        Selecteer een strategie (oud) of een oeverzijde (nieuw):
      </label>
      <select data-placeholder="Kies een hoekpunt"
          id="select-strategy"
	      class="chzn-select strategy"
	      tabindex="2"
	      style="width:250px;">
      </select>
    </form>
  </div>

  <h3>Bookmark</h3>
  <label for="shorturl">Genereer een bookmark URL: <a href="#" class="has_clickover_east" style="float: right;" title="Bookmark" data-content="Klik op de button om een bookmark URL te genereren. Deze kunt u vervolgens knippen-en-plakken in bijvoorbeeld een e-mail, of u kunt de pagina in uw browser-favorieten zetten."><i class="icon-info-sign icon-grey"></i></a></label>
  <a class="btn" id="generate_shorturl_button" href="#"><i class="icon-star-empty"></i></a>
  <input name="shorturl" type="text" id="shorturl" style="margin-top:10px;width:200px;" />


  <h3>Geselecteerde maatregelen</h3>
    <p>
    <a href='#' id="blockbox-deselect-all-measures"
       data-deselect-url="{% url lizard_blockbox.bookmarked_measures %}">
      Deselecteer alle maatregelen</a> of klik op een maatregel om deze te deselecteren.</p>

  <ul class="unstyled" id="investmentcosts">
    <li><small><strong>Totale investeringskosten</strong></small></li>
    <li><small>Minimaal: {{ view.investment_costs.minimum|floatformat }} mln</small></li>
    <li><small>Maximaal:  {{ view.investment_costs.maximum|floatformat }} mln</small></li>
    <li><small>Middenwaarde:  {{ view.investment_costs.expected|floatformat }} mln</small></li>
  </ul>

  <ul id="selected-measures-list" class="without-bullets">
    {% for reach in view.measures_per_reach %}
      <h4>{{ reach.name }}</h4>
      {% for measure in reach.measures %}
        <li>
          <a href="#"
             class="sidebar-measure blockbox-toggle-measure padded-sidebar-item"
             data-measure-id="{{ measure.short_name }}"
             data-measure-shortname="{{ measure.short_name }}">
            <span class="measure-km">{{ measure.km_from }}:</span>
            {% firstof measure.name measure.short_name %}
          </a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

  <h3>Downloads</h3>
  <p>
    Genereer een rapport met de geselecteerde maatregelen in het gewenste formaat:
  </p>
  <p>
    <a href="{% url lizard_blockbox.generate_report %}" title="PDF-bestand" style="margin-right: 20px;" target="_blank"><i class="fa fa-file-pdf-o fa-3x"></i></a>
    <a href="{% url lizard_blockbox.generate_csv %}" title="CSV-bestand"><i class="fa fa-file-excel-o fa-3x"></i></a>
  </p>
  <hr>
  <p>
    Download de tabel met uitsluitingen:
  </p>
  <p>
    {# TODO: our customer will provide us with the proper document to download #}
    <a href="{% url lizard_blockbox.excluding_measures %}" title="XLS-bestand"><i class="fa fa-file-excel-o fa-3x"></i></a>
  </p>

  <h3>Versie</h3>
  <p>{{ view.version|date:"d-m-Y" }}</p>
{% endblock %}

{% block content %}
  <div id="lizard-blockbox-graph" class="i-have-height"
       data-static-url="{{ STATIC_URL }}">
    {% block lizard-blockbox-graph %}
      <div id="measure_results_graph"></div>
      <!-- measure_results_graph is the actual graph. -->
      <div id="measure_graph"></div>
      <!-- measure_graph is the graph part with the measures. -->
    {% endblock %}
  </div>

  <div id="blockbox-table"
       data-measure-toggle-url="{% url lizard_blockbox_toggle_measure %}"
       data-calculated-measures-url="{% url calculated_measures_json %}">
    <table id="measures-table-top"
	   class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </thead>

      <tbody>
        {% for measure in view.measures %}
          <tr>
	    <td>
	      {% if measure.selected %}
	      <span class="icon-ok"></span>Ja
		  {% else %}
		  <span class="icon-remove"></span>Nee
	      {% endif %}
	    </td>
            <td style="cursor:pointer;">
              <a href="#"
                 class="blockbox-toggle-measure"
                 data-measure-id="{{ measure.short_name }}">
                {{ measure.name }}
              </a>
            </td>
            {% for field in measure.fields %}
              <td>{{ field.value|default_if_none:"Onbekend" }}</td>
            {% endfor %}
	    <td>
	      {% if measure.pdf_link %}
	        <a href="{{ measure.pdf_link }}">
		  <i class="icon-file"></i>Download
                </a>
	      {% endif %}
	    </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </tfoot>
    </table>
  </div>

  {# data attributes wms #}
  {# All contents of lizard-map-wms must have class lizard-map-wms-item #}
  <div id="lizard-map-wms"
       data-javascript-click-handler="{{ view.javascript_click_handler }}"
       {% if view.javascript_hover_handler %}
         {% ifnotequal view.javascript_hover_handler 'None' %}
         data-javascript-hover-handler="{{ view.javascript_hover_handler }}"
         {% endifnotequal %}
       {% endif %}
       {# New style maps #}
       data-max-extent-left="{{ view.max_extent.left }}"
       data-max-extent-top="{{ view.max_extent.top }}"
       data-max-extent-right="{{ view.max_extent.right }}"
       data-max-extent-bottom="{{ view.max_extent.bottom }}"
       data-start-extent-left="{{ view.start_extent.left }}"
       data-start-extent-top="{{ view.start_extent.top }}"
       data-start-extent-right="{{ view.start_extent.right }}"
       data-start-extent-bottom="{{ view.start_extent.bottom }}"
       {# for WMS: EPSG:28992, EPSG:900913 #}
       data-projection="{{ view.projection }}"
       {# for WMS: EPSG:28992, EPSG:900913, EPSG:4326 #}
       data-display-projection="{{ view.display_projection }}"
       {# URLS for saving, loading map locations #}
       data-save-location-url="{% url lizard_map.map_location_save %}"
       data-load-location-url="{% url lizard_map.map_location_load_default %}"
       {# Selected base layer #}
       data-selected-base-layer="{{ view.base_layer_name }}"
       >
    {# Make a layer for every background map #}
    {% for background_map in view.background_maps %}
      {# background map settings for in div lizard-map-wms #}
<div class="background-layer"
     data-layer-name="{{ background_map.name }}"
     data-default="{{ background_map.default }}"
     {% ifequal background_map.layer_type 1 %}{# GOOGLE #}
     {# default=1, physical=2, hybrid=3, satellite=4 #}
     data-layer-type="GOOGLE"
     data-google-layer-type="{{ background_map.google_type }}"
     {% endifequal %}
     {% ifequal background_map.layer_type 2 %}{# OSM #}
     data-layer-type="OSM"
     data-layer-url="{{ background_map.layer_url|safe }}"
     {% endifequal %}
     {% ifequal background_map.layer_type 3 %}{# WMS #}
     data-layer-type="WMS"
     data-layer-url="{{ background_map.layer_url }}"
     data-layer-layer-names="{{ background_map.layer_names }}"
     data-is-base-layer="{{ background_map.is_base_layer }}"
     data-is-single-tile="{{ background_map.is_single_tile }}"
     {% endifequal %}
     {% ifequal background_map.layer_type 4 %}{# TMS #}
     data-layer-type="TMS"
     data-layer-url="{{ background_map.layer_url|safe }}"
     data-layer-layer-names="{{ background_map.layer_names }}"
     data-is-base-layer="{{ background_map.is_base_layer }}"
     {% endifequal %}
     ></div>
    {% endfor %}
  </div>
  <div id="map"></div>

  <div class="modal hide" id="loadingModal">
    <div class="modal-header">
      <h3>Laden...</h3>
    </div>
    <div class="modal-body">
      <p>De rivieren data wordt geladen.</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>


{% endblock %}


{% block orthogonal-actions %}
  <div class="btn-toolbar">
    <div class="btn-group"
         style="top:5px;"
         data-toggle="buttons-radio">

      {% for choice in view.year_choices.old %}
        {% if choice.enabled %}
          <a data-year="{{ choice.key }}"
             title="Oude klimaatopgave voor de zichtjaren 2050 en 2100."
             class="btn {% if choice.selected %}active{% endif %}"
             href="{% url lizard_blockbox_select_year %}?year={{ choice.key }}">
            {{ choice.visible_value }}
          </a>
        {% else %}
          <span class="btn"
                title="Oude klimaatopgave voor de zichtjaren 2050 en 2100."
                disabled="true"
                href="#">
            {{ choice.visible_value }}
          </span>
        {% endif %}
      {% endfor %}

      {% for choice in view.year_choices.new %}
        {% if choice.enabled %}
          <a data-year="{{ choice.key }}"
             title="Gecombineerde norm plus klimaatopgave"
             class="btn {% if choice.selected %}active{% endif %}"
             href="{% url lizard_blockbox_select_year %}?year={{ choice.key }}">
            {{ choice.visible_value }}
          </a>
        {% else %}
          <span class="btn"
                title="Gecombineerde norm plus klimaatopgave"
                disabled="true"
                href="#">
            {{ choice.visible_value }}
          </span>
        {% endif %}
      {% endfor %}


    </div>

  </div>

    <a class="has_popover_north"
       id="blockbox-years-info"
       title="Jaarselectie-uitleg"
       style="position:absolute;left:1000px;top:10px;color:black;text-decoration:none;"
         data-content="
De knoppen met het toevoegsel “oud” hebben betrekking op de klimaatopgave
zoals die destijds gebruikt is door Deltaprogramma Rivieren (2014), gebaseerd
op het KNMI2006 W+ klimaatscenario. De knoppen met het toevoegsel “nieuw”
hebben bettrekking op de hoogteopgave die het gevolg is van zowel de nieuwe
veiligheidsnormen voor de waterkeringen alsmede klimaatverandering. Hierbij is
eventueel lokaal aanwezige dijkoverhoogte verdisconteerd. De gepresenteerde
waarden geven een indicatie (bron: RWS WVL, 2016). Deze nieuwe hoogteopgave is
alleen beschikbaar voor de Maas, Boven-Rijn, Waal, Boven-Merwede, Pannerdens
Kanaal en IJssel. Voor de andere rivieren is deze op nul gezet.
"
       rel="popover"
       href="#"><i class="icon-info-sign"></i></a>


{% endblock orthogonal-actions %}

{% block rightbar %}
  <h2>{% trans "Legend" %}</h2>
  {% for legend in view.legends %}
    {{ legend.to_html }}
  {% endfor %}
{% endblock rightbar %}
