{% extends "lizard_map/wms.html" %}{% load i18n compress %}

{% block javascript %}
   {{ block.super }}
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/flot/jquery.flot.symbol.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/underscore.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/backbone.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}deltaportaal/chosen.jquery.js">
    </script>
    <script type="text/javascript"
        src="{{ STATIC_URL }}lizard_blockbox/jquery.tablesorter.js">
    </script>
{% endblock %}

{% block bottom-extras %}
  {% compress js %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}lizard_blockbox/blockbox.js">
    </script>
  {% endcompress %}
  {# Using compressor to ensure the .js is always refreshed when needed #}
{% endblock bottom-extras %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_blockbox/lizard_blockbox.css"
        type="text/css"
        media="screen, projection" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}deltaportaal/chosen.css"
        type="text/css"
        media="screen, projection" />
  <style type="text/css">
    .ui-dialog .ui-dialog-titlebar { padding: 0.7em 1em; position: relative;  }
    #measures_legend tr:last-child { display: none; }
  </style>
{% endblock css %}

{% block head-extras %}
  {{ block.super }}
  {% comment "UncompressableFileError" %}
  Don't put this Bootstrap CDN link in block css or you'll end up with this error when Debug=False:
  UncompressableFileError: '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
  isn't accessible via COMPRESS_URL ('/static_media/') and can't be compressed
  {% endcomment %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head-extras %}

{% block sidebar %}
  <h2>Rivierselectie</h2>
  <form id="blockbox-river"
	data-select-river-url="{% url lizard_blockbox_select_river %}">
	<label for="select-river">Selecteer een rivier:</label>
    <select data-placeholder="Kies een rivier"
	    id="select-river"
	    class="chzn-select river"
	    tabindex="2"
	    style="width:250px;">
      {% for reach in view.reaches %}
        <option value="{{reach.name}}"
                {% if reach.selected %}SELECTED{% endif %}>
          {{ reach.name }}
        </option>
      {% endfor %}
    </select>
  </form>
  <div>
    <a class="has_clickover_south"
       id="blockbox-strategy-info"
       title="Blokkendoos strategieën"
       data-content="<strong>Kansrijke strategieën DPRD:</strong><br/>
- Optimaliseren huidige strategie: kleinere faalkans EPK<br/>
- RvR++ Groot: grote groene rivier door Land van Heusden en Altena + kleinere faalkans Europoortkering<br/>
- Alles via Waal/IJssel ontzien: minder via de IJssel, meer via Waal (+400 m3/s t.o.v. REF2100DPR) + kleinere faalkans EPK<br/>
- Lek extra ontzien/IJssel: minder via Lek, meer via IJssel (+400 m3/s extra t.o.v. REF2100DPR) + kleinere faalkans EPK<br/>
- Lek extra ontzien/Waal: minder via Lek, meer via Waal (+800 m3/s extra t.o.v. REF2100DPR) + kleinere faalkans EPK<br/><br/>
<strong>Kansrijke strategieën DPIJ:</strong><br/>
- Winterpeil + 0,20 m (t.o.v. huidig winterpeil IJsselmeer)<br/>
- Winterpeil + 0,50 m (t.o.v. huidig winterpeil IJsselmeer)"
href="#"><i class="icon-info-sign icon-grey"></i></a>
    <form id="blockbox-vertex"
	  data-select-vertex-url="{% url lizard_blockbox_select_vertex %}"
	  data-update-vertex-url="{% url lizard_blockbox_vertex_list %}">
	  <label for="select-strategy">Selecteer een strategie DPRD/DPIJ:</label>
      <select data-placeholder="Kies een hoekpunt"
          id="select-strategy"
	      class="chzn-select strategy"
	      tabindex="2"
	      style="width:250px;">
      </select>
    </form>
  </div>

  <h3>Bookmark</h3>
  <label for="shorturl">Genereer een bookmark URL: <a href="#" class="has_clickover_east" style="float: right;" title="Bookmark" data-content="Klik op de button om een bookmark URL te genereren. Deze kunt u vervolgens knippen-en-plakken in bijvoorbeeld een e-mail, of u kunt de pagina in uw browser-favorieten zetten."><i class="icon-info-sign icon-grey"></i></a></label>
  <a class="btn" id="generate_shorturl_button" href="#"><i class="icon-star-empty"></i></a>
  <input name="shorturl" type="text" id="shorturl" style="margin-top:10px;width:200px;" />


  <h3>Geselecteerde maatregelen</h3>
    <p>
    <a href='#' id="blockbox-deselect-all-measures"
       data-deselect-url="{% url lizard_blockbox.bookmarked_measures %}">
      Deselecteer alle maatregelen</a> of klik op een maatregel om deze te deselecteren.</p>

  <ul class="unstyled" id="investmentcosts">
    <li><small><strong>Totale investeringskosten</strong></small></li>
    <li><small>Minimaal: {{ view.investment_costs.minimum|floatformat }} mln</small></li>
    <li><small>Maximaal:  {{ view.investment_costs.maximum|floatformat }} mln</small></li>
    <li><small>Middenwaarde:  {{ view.investment_costs.expected|floatformat }} mln</small></li>
  </ul>

  <ul id="selected-measures-list" class="without-bullets">
    {% for reach in view.measures_per_reach %}
      <h4>{{ reach.name }}</h4>
      {% for measure in reach.measures %}
        <li>
          <a href="#"
             class="sidebar-measure blockbox-toggle-measure padded-sidebar-item"
             data-measure-id="{{ measure.short_name }}"
             data-measure-shortname="{{ measure.short_name }}">
            <span class="measure-km">{{ measure.km_from }}:</span>
            {% firstof measure.name measure.short_name %}
          </a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

  <h3>Downloads</h3>
  <p>
    Genereer een rapport met de geselecteerde maatregelen in het gewenste formaat:
  </p>
  <p>
    <a href="{% url lizard_blockbox.generate_report %}" title="PDF-bestand" style="margin-right: 20px;" target="_blank"><i class="fa fa-file-pdf-o fa-3x"></i></a>
    <a href="{% url lizard_blockbox.generate_csv %}" title="CSV-bestand"><i class="fa fa-file-excel-o fa-3x"></i></a>
  </p>
  <hr>
  <p>
    Download de tabel met uitsluitingen:
  </p>
  <p>
    {# TODO: our customer will provide us with the proper document to download #}
    <a href="{% url lizard_blockbox.excluding_measures %}" title="XLS-bestand"><i class="fa fa-file-excel-o fa-3x"></i></a>
  </p>

  <h3>Versie</h3>
  <p>{{ view.version|date:"d-m-Y" }}</p>
{% endblock %}

{% block content %}
  <div id="lizard-blockbox-graph" class="i-have-height"
       data-static-url="{{ STATIC_URL }}">
    {% block lizard-blockbox-graph %}
      <div id="measure_results_graph"></div>
      <!-- measure_results_graph is the actual graph. -->
      <div id="measure_graph"></div>
      <!-- measure_graph is the graph part with the measures. -->
    {% endblock %}
  </div>

  <div id="blockbox-table"
       data-measure-toggle-url="{% url lizard_blockbox_toggle_measure %}"
       data-calculated-measures-url="{% url calculated_measures_json %}">
    <table id="measures-table-top"
	   class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </thead>

      <tbody>
        {% for measure in view.measures %}
          <tr>
	    <td>
	      {% if measure.selected %}
	      <span class="icon-ok"></span>Ja
		  {% else %}
		  <span class="icon-remove"></span>Nee
	      {% endif %}
	    </td>
            <td style="cursor:pointer;">
              <a href="#"
                 class="blockbox-toggle-measure"
                 data-measure-id="{{ measure.short_name }}">
                {{ measure.name }}
              </a>
            </td>
            {% for field in measure.fields %}
              <td>{{ field.value|default_if_none:"Onbekend" }}</td>
            {% endfor %}
	    <td>
	      {% if measure.pdf_link %}
	        <a href="{{ measure.pdf_link }}">
		  <i class="icon-file"></i>Download
                </a>
	      {% endif %}
	    </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Geselecteerd</th>
          <th>Naam</th>
          {% for header in view.measure_headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>PDF</th>
        </tr>
      </tfoot>
    </table>
  </div>

  {{ block.super }}

  <div class="modal hide" id="loadingModal">
    <div class="modal-header">
      <h3>Laden...</h3>
    </div>
    <div class="modal-body">
      <p>De rivieren data wordt geladen.</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>


{% endblock %}


{% block orthogonal-actions %}
  <div class="btn-toolbar">
    <div class="btn-group"
         title="Selecteren uit zichtjaren 2050 en 2100."
         style="top:5px;"
         data-toggle="buttons-radio">
      <span class="btn" disabled="true" href="#">2015</span>
      <a data-year="2050"
         class="post-year btn {% if view.selected_year == '2050' %}active{% endif %}"
         href="{% url lizard_blockbox_select_year %}">2050</a>
      <a data-year="2100"
         class="post-year btn {% if view.selected_year == '2100' %}active{% endif %}"
         href="{% url lizard_blockbox_select_year %}">2100</a>
    </div>

  </div>

{% endblock orthogonal-actions %}
