{% extends "lizard_map/wms.html" %}

{% block map-javascript %}
   <script type="text/javascript"
		   src="{{ STATIC_URL }}lizard_blockbox/flot/jquery.flot.js">
   </script>
   {{ block.super }}
   <script type="text/javascript">
	 function JSONLayer(json){
	     var geojson_format = new OpenLayers.Format.GeoJSON();
         var vector_layer = new OpenLayers.Layer.Vector('IVM deel 1');
         map.addLayer(vector_layer);
	     vector_layer.addFeatures(geojson_format.read(json));
	 }

	 $().ready(function() {
         $.getJSON("{{ STATIC_URL }}lizard_blockbox/IVM_deel1.json",
             function(json){
                 JSONLayer(json);
              }
         );
     });

   </script>

{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}lizard_blockbox/lizard_blockbox.less"
        type="text/less"
        media="screen, projection" />
{% endblock css %}

{% block content %}
  <div id="blockbox">
	<div id="lizard-blockbox-graph">
      {% block lizard-blockbox-graph %}
      {% endblock %}
	</div>
    {{ block.super }}
  </div>
{% endblock %}
