{% extends "lizard_blockbox/blockbox.html" %}{% load i18n %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('header').hide();
    $('#footer').css('height', 0);
    $('div#sidebar').css('left', -300);
    $('div#content').css('left', -0);
    $('div#content').css('top', 0);
    $('div#rightbar').css('top', 0);
    window.setUpMapDimensions();
    window.resize_graphs();
});
</script>
{% endblock map-javascript %}
